
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
   
}

.cell {
    display: flex; 
    justify-content: center;
    align-items: center;
    border: 1px solid;
    font-size: 50px;
}

.cell img.icon {
    max-width: 100%;
    max-height: 100%;
}